{% extends "applications/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1>Create or Edit Product</h1>
<p>
  <form action="" method="post" id="upload_form" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-secondary" onclick="window.location.href='{% url 'applications:product_list' %}';return false;">Cancel</button>
  </form>
</p>

<!-- File size validation -->
<p>
  <script type="text/javascript">
    function checkFileSize() {
      var fileInput = document.getElementById('id_picture'); // Adjusted to match the 'picture' field
      if (fileInput && fileInput.files.length > 0) {
        var file = fileInput.files[0];
        if (file.size > 2097152) { // 2 MB in bytes
          alert('File size exceeds 2 MB!');
          return false;
        }
      }
      return true;
    }
    document.getElementById('upload_form').onsubmit = checkFileSize;
  </script>
</p>
{% endblock %}